.dialog-content-layout {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
    gap: 5px;
    height: 100%;
}

.dialog-content {
    grid-area: 1/1;
}

.dialog-buttons {
    grid-area: 2/1;
}

.loader-show, .loader-hide {
    grid-area: 1/1;
    z-index: 2;
    display: none;
}

.loader-show {
    display: block;
}