.views-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr);
    grid-row-gap: 10px;
    height: 100%;
}

.views-layout-views {
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr) auto;
}

.views-loader-show, .views-loader-hide {
    grid-area: 1/1;
    z-index: 2;
    display: none;
    height: 100%;
}

.views-loader-show {
    display: block;
}
