@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body, app, .k-drawer-container, .k-drawer-content, .main {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.k-input, .k-checkbox {
    border: 1px solid #91C8EF;
}

k-input-solid.k-hover, .k-input-solid:hover {
    border: 1px solid #317aac;
}

.k-drawer-item:hover, .k-drawer-item.k-state-hover, .text-info {
    background-color: #91C8EF;
}

.main-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 70px minmax(0, 1fr) auto;
    grid-row-gap: 10px;
}

.main-header {
    background-image: url(/images/header-background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #347bad;
    color: white;
}

.main-title {
    font-size: 14px;
    font-weight: bold;
}

.main-footer {
    background: #347bad;
    color: white;
}

.pro-header {
    background-color: #347bad;
    color: white;
}

/*Grid*/

.k-grid-header .k-header {
    color: white;
    background-color: #317aac;
}


.k-grid,
.k-filter-row > td,
.k-filter-row > th,
.k-grid td,
.k-grid-content-locked,
.k-grid-footer,
.k-grid-footer-locked,
.k-grid-footer-wrap,
.k-grid-header,
.k-grid-header-locked,
.k-grid-header-wrap,
.k-grouping-header,
.k-grouping-header
.k-group-indicator,
.k-header,
th.k-header {
    border-color: white;
}

.k-loading-image {
    color: #317aac;
}


element.style {
}

.k-svg-icon {
    width: 1em;
    height: 1em;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
}

.k-icon {
    width: 1em;
    height: 1em;
    outline: 0;
    font-size: 16px;
    font-family: "WebComponentsIcons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    text-decoration: none;
    flex-shrink: 0;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.k-grid .k-grid-filter, .k-grid .k-header-column-menu, .k-grid .k-grid-header-menu, .k-grid .k-hierarchy-cell .k-icon {
    color: white;
}

.k-grid-header .k-grid-header-menu:hover {
    background-color: #91C8EF;
    color: black;
}

/*Tabs*/

.k-tabstrip-content, .k-tabstrip > .k-content {
    background-color: transparent;
}

/*Forms*/
.form-header {
    background-color: black;
    color: white;
}

.form-group-header {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.form1-row {
    background-color: #B3E49F !important;
}

.form2-row {
    background-color: #CDE6F6 !important;
}

.form-row-approved {
    background-color: palegreen !important;
}

.form1-container {
    background-color: #B3E49F;
    border-radius: 5px;
    border-color: black;
}

.form2-container {
    background-color: #CDE6F6;
    border-radius: 5px;
    border-color: black;
}

.bermuda-title {
    background: #347BAD;
    background: linear-gradient(to bottom, #347BAD 0%, #91C8EF 86%, #CFCDC3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.k-listview
{
    display:flex;
}