.person-details-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: column;
    gap: 0px 5px;
}

.person-details-title {
    grid-area: 1/1 / 1/3
}
