.voter-photos-view {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px 1fr;
    gap: 10px 10px;
}

.voter-photo {
    background-color: brown;
    width: 120px;
    height: 170px;
}