.voter-contact-info-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,auto) 1fr;
    grid-auto-flow: column;
    gap: 0px 5px;
}

.voter-contact-info-title {
    grid-area: 1/1 / 1/3;
}

.voter-contact-email-comment-view {
    grid-area: 6/1 / 6/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 0px 5px;
}


