<?xml version="1.0" encoding="utf-8" ?>
<Menu xmlns="http://schemas.datacontract.org/2004/07/PROWeb.Data.Models.Navigation">

	<MenuItem Name="Registry" Description="Registrations">
		<MenuItem Name="Registry" Description="Registry" Page="/"/>
		<MenuItem Name="Registrations" Description="Registrations" Page="/registrations"/>
		<MenuItem Name="Users" Description="Users" Page="/users"/>
		<MenuItem Name="Office" Description="Office" Page="/office"/>
	</MenuItem>
	<MenuItem Name="Lists" Description="Lists">
		<MenuItem Name="Constituencies" Description="Constituencies" Page="/constituencies"/>
		<MenuItem Name="Parishes" Description="Parishes" Page="/parishes"/>
		<MenuItem Name="VoterFlags" Description="Voter Flags" Page="/voterflags"/>
	</MenuItem>
	<MenuItem Name="Reports" Description="Reports">
		<MenuItem Name="VoterReports" Description="Voter Reports" Page="/voterreports"/>
	</MenuItem>
	<MenuItem Name="Actions" Description="Actions">
		<MenuItem Name="Logoff" Description="Logoff" Page="Account/Logout"/>
	</MenuItem>

</Menu>
